@charset "utf-8";
/* CSS Document */

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; border: 1; outline: none;}
body {	font-family: "宋体";font-size: 14px;line-height: 20px;text-align:left;}
td,th {font-family: "宋体";font-size: 14px;}
a {color: #000000;} 
A:link {TEXT-DECORATION: none;}
A:visited {TEXT-DECORATION: none;}

ul,li{list-style-type:none;}
.clearit{clear:both;}

.page{width:900px; margin:0 auto;}
.beijing{width:900px; height:1000px; background-image:url(images/beijing.jpg);}
.yi{width:800px; margin:0 auto; margin-top:20px;}
.zuo{float:left; width:380px; }
.you{float:right; width:380px;}
.yi p{text-align:center; line-height:50px;font-weight:bold ;}

.banquan p{text-align:center; line-height:50px;font-weight:bold ;}
.bai{width:900px; height:350px;}
.wenzi p{text-align:center; color:#FF0000;font-weight:bold ;}
.wenzi a{color:#FF0000;}
